@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c1c1c1;
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 54, 72);
}

::-webkit-scrollbar-thumb:hover {
  background: slategray;
}

body {
  background: #ffffff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.root__grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  appearance: none;
}
